apiVersion: v1
kind: Service
metadata:
  name: {{ include "rlqs.fullname" . }}
  labels:
    {{- include "rlqs.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: grpc
      port: {{ .Values.service.grpcPort }}
      targetPort: grpc
      protocol: TCP
    - name: metrics
      port: {{ .Values.service.metricsPort }}
      targetPort: metrics
      protocol: TCP
  selector:
    {{- include "rlqs.selectorLabels" . | nindent 4 }}
